@import 'globals';
@import 'breakpoints';

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;

    h1 {
        @include article-text;

        animation: move linear 2000ms infinite;
        color: $color-light;
        font-size: 16px;
        letter-spacing: 5px;
        padding-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
        width: 60%;
        z-index: 99;
    }

/*Animación para rotar las sombras*/

    @keyframes move {
        0% {
            text-shadow:
                4px -4px 0 $color-highlight,
                3px -3px 0 $color-highlight,
                2px -2px 0 $color-highlight,
                1px -1px 0 $color-highlight,
                -4px 4px 0 $color-detales,
                -3px 3px 0 $color-detales,
                -2px 2px 0 $color-detales,
                -1px 1px 0 $color-detales,
            ;
        }
        25% {
            text-shadow:
                -4px -4px 0 $color-detales,
                -3px -3px 0 $color-detales,
                -2px -2px 0 $color-detales,
                -1px -1px 0 $color-detales,
                4px 4px 0 $color-highlight,
                3px 3px 0 $color-highlight,
                2px 2px 0 $color-highlight,
                1px 1px 0 $color-highlight,
            ;
        }
        50% {
            text-shadow:
                -4px 4px 0 $color-highlight,
                -3px 3px 0 $color-highlight,
                -2px 2px 0 $color-highlight,
                -1px 1px 0 $color-highlight,
                4px -4px 0 $color-detales,
                3px -3px 0 $color-detales,
                2px -2px 0 $color-detales,
                1px -1px 0 $color-detales,
            ;
        }
        75% {
            text-shadow:
                4px 4px 0 $color-detales,
                3px 3px 0 $color-detales,
                2px 2px 0 $color-detales,
                1px 1px 0 $color-detales,
                -4px -4px 0 $color-highlight,
                -3px -3px 0 $color-highlight,
                -2px -2px 0 $color-highlight,
            ;
        }
        100% {
            text-shadow:
            4px -4px 0 $color-highlight,
            3px -3px 0 $color-highlight,
            2px -2px 0 $color-highlight,
            1px -1px 0 $color-highlight,
            -4px 4px 0 $color-detales,
            -3px 3px 0 $color-detales,
            -2px 2px 0 $color-detales,
            -1px 1px 0 $color-detales,
            ;
        }
    }
    .content {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 999;
    }

    a {
        @include button;

        align-items: center;
        display: flex;
        justify-content: center;
        text-decoration: none;
        width: 200px;
        z-index: 99;
    }
}
@include media(tablet){
    .container {
        h1 {
            font-size: 30px;
        }
    }
}
