@import 'globals';
@import 'breakpoints';

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;

    h1 {
        @include primary-title;

        font-size: 30px;
        font-weight: bold;
        margin-bottom: 40px;
        width: 70%;
    }
    .content {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 999;
    }

    button {
        @include button;

        font-weight: bold;
        height: 50px;
        width: 200px;
        z-index: 99;
    }
}