@import 'globals';
@import 'breakpoints';

.container {
    background-color: $color-secondary;
    border-radius: 10px;
    bottom: 0px;
    min-height: 50px;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.link {
    @include article-text;
    color:$color-primary;
    &:hover {
        color: $color-primary;
    }
}