@import 'globals';
@import 'breakpoints';

.container {
    margin-bottom: 80px;

    h1 {
        @include primary-title;

        margin-bottom: 50px;
    }
    .container_news{
        padding: 0px 10px 0px 10px;
    }
}
@include media(tablet) {
    .container {

        h1 {
            @include primary-title;

            font-size: 40px;
            padding-bottom: 120px;
        }
    }
}



