@import 'globals';
@import 'breakpoints';

.containerImg {
    background-image: 
        linear-gradient(
            rgba(65, 51, 139, 0.4),
            rgba(0, 0, 0, 0.5)
        ),
        url('https://i.imgur.com/y0aa81k.jpeg');
    background-attachment: fixed;
    background-size: cover;
    height: 630px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    svg{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    svg path {
        fill: white;
    }
}

.title {
    @include primary-title;
    font-size: 40px;
}

.containerGraphs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 30px 0 50px;

    @include media(tablet) {
        flex-direction: row;
    }
}