@import 'globals';
@import 'breakpoints';

.container {
    @include quote-text;
    margin: 50px auto;
    width: 200px;
}
@include media(tablet){
    .container {
    font-size: 20px;
    width: 600px;
    }
}
