@import 'globals';
@import 'breackpoints';

.container {
    @include quote-text;

    font-size: smaller;
    margin: 40px auto;
    text-align: right;
    width: 200px;

    @include media(desktop-s){
        @include quote-text;
        
        width: 500px;
    }
}