@import 'globals';
@import 'breakpoints';

.container {
    @include quote-text;

    font-size: 10px;
    margin: 40px auto;
    text-align: right;
    width: 200px;

    @include media(desktop-m){
        @include quote-text;

        font-size: 20px;
        width: 600px;
    }
}