.container {
    align-items: center;
    background-color: #41338b;
    color: #F5F2FF;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px 5% 30px 5%;

    .column1 {
        img {
            width: 200px;
        }
    }

    .column4{
        align-self: flex-start;
        max-width: 20%;
    }

    .column5{
        align-self: center;

        i {
            color: #F5F2FF;
            font-size: 30px;
        }

        .social {
            display: flex;
            gap: 15px
        }
    }
}