@import 'globals';
@import 'breakpoints';

.container {
    background-color: $color-secondary;
    color: $color-light;
    display: flex;
    flex-direction: column;
    font-size: 7px;
    align-items: center;
    text-align: center;
    gap: 5px;
    padding: 10px 5%;

    h4{
        font-size: 10px;
        margin: 0;
    }
    a{
        color: $color-light;
        margin: 0;
    }

    .social {
        font-size: 15px;
        display: flex;
        gap: 20px;
        padding-bottom: 10px;
    }

}
@include media(desktop-s) {
    .container {
        display: flex;
        flex-direction: row;
        font-size: 14px;
        justify-content: space-evenly;
        padding: 30px 5%;

        h4{
            font-size: 19px;
            margin: 0;
        }
        .social {
            font-size: 23px;
            align-items: center;
            padding-bottom: 0px;
        }

    }
}