@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

$highlight: #C13B77;
$main: #EDE8FF;

$s: '430px';
$m: '900px';
$l: '1200px';
