@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

//Variables
$color-primary: #EDE8FF;
$color-light: #FFFFFF;
$color-highlight: #C13B77;
$color-secondary: #41338B;
$color-dark: #000000;
$font-name:'Rochester', cursive;
$font-titles:'Reem Kufi', sans-serif;
$font-text:'Roboto', sans-serif;
$font-quote: 'Reenie Beanie', cursive;

//mixins
@mixin primary-title{
    color: $color-secondary;
    font-family: $font-titles;
    font-size: 36px;
    margin-bottom: 50px;
    text-decoration: none;
    
}
@mixin options-title {
    color:$color-dark;
    font-family: $font-titles;
    font-size: 24px;
}
@mixin secondary-title{
    color: $color-light;
    font-family: $font-text;
    text-transform: uppercase;
}

@mixin article-text{
    color: $color-dark;
    font-family: $font-text;
    font-size: 18px;
}

@mixin quote-text{
    color: $color-dark;
    font-family: $font-quote;
    font-size: 30px;
}


$s: '430px';
$m: '900px';
$l: '1200px';
