@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

//Variables
$color-primary: #EDE8FF;
$color-light: #FFFFFF;
$color-highlight: #C13B77;
$color-secondary: #41338B;
$color-dark: #000000;
$font-name:'Rochester', cursive;
$font-titles:'Reem Kufi', sans-serif;
$font-text:'Roboto', sans-serif;
$font-quote: 'Reenie Beanie', cursive;

//mixins
@mixin primary-title{
    color: $color-secondary;
    font-family: $font-titles;
    font-size: 30px;
    margin-bottom: 50px;
    text-decoration: none;
    text-align: center;
}
@mixin options-title {
    color:$color-dark;
    font-family: $font-titles;
    font-size: 18px;
}
@mixin secondary-title{
    color: $color-light;
    font-family: $font-text;
    font-size: 30px;
    text-transform: uppercase;
}

@mixin article-text{
    color: $color-dark;
    font-family: $font-text;
    font-size: 14px;
}

@mixin quote-text{
    color: $color-dark;
    font-family: $font-quote;
    font-size: 30px;
}
@mixin button {
    background-color: $color-highlight;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-family: $font-text;

    &:hover {
        background-color: white;
        color: #C13B77;
        transition: all 0.5s ease-in;
        border:solid 1px $color-dark;
    }
}


$s: '430px';
$m: '900px';
$l: '1200px';
