@import 'globals';
@import 'breackpoints';

.container {
    align-items: center;
    background-color: $color-primary;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 70px 50px 70px 50px;

    #icon_login {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 25px;
        color: $color-highlight;
        padding-top: 10px;
        
        @include media(desktop-s){
            display: none;
        }
    }

    #title_login {
        
        display: none;

        @include media(desktop-s){
            @include article-text;

            display: flex;
            color: $color-highlight;
            cursor: pointer;
            padding-top: 18px;
            text-decoration: none;

            &:hover {
                color: $color-highlight;
                font-weight: bold;
                font-size: 20px;
             }
        }
    }

    #title_logout{
        @include article-text;
        font-size: 10px;
        display: flex;
        cursor: pointer;

        @include media(tablet){
            @include article-text;
            padding-top: 18px;
            padding-right: 30px;
            margin-left: 500px;

            &:hover {
                color: $color-highlight;
                font-weight: bold;
                font-size: 20px;
             }
            
        }

    }

    .nameContainer {
        align-items: center;
        color: $color-highlight;
        cursor: pointer;
        display:flex;
        font-family: 'Rochester', cursive;

        &:hover {
            transform: scale(1.2);
            transition: transform 0.5s ease;
        }

        h1 {
            font-size: 25px;
            padding-top: 10px;

            @include media(desktop-s){
                font-size: 40px;
            }
        }

        .logo {
            height: 30px;
            padding-right: 10px;
            width: auto;

            @include media(desktop-s){
                height: 100px;
                width: auto;
            }
        }

    }
}
