@import 'globals';

.container {
    align-items: center;
    background-color: $color-primary;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 70px 50px 70px 50px;

    @media screen and (max-width: $s) {
        padding: 10px 10px 10px 10px;
    }

    .nameContainer {
        align-items: center;
        color: $color-highlight;
        cursor: pointer;
        display:flex;
        font-family: 'Rochester', cursive;

        &:hover {
            transform: scale(1.2);
            transition: transform 0.5s ease;
        }

        h1 {
            font-size: 60px;
            padding-top: 10px;

            @media screen and (max-width: $s) {
                font-size: 30px;
            }
        }

        .logo {
            height: 100px;
            padding-right: 10px;
            width: auto;
        }
    }

    a {
        color: gray;
        font-size: 24px;
        padding-top: 10px;
        text-decoration: none;

        &:hover {
            color: $color-highlight;
            font-weight: bold;
            font-size: 30px;
            transition: font-size 0.5s ease;
        }

        @media screen and (max-width: $s) {
            display: none;
        }    
    }

}


