@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'globals';
@import 'breakpoints';

.container {
    align-items: center;
    background-color: $color-light;
    border: solid 1px $color-secondary;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: space-around;
    padding: 30px;
    position: absolute;
    right: 20px;
    top: 100px;
    width: 250px;
    z-index: 30;

    .title {
        color:$color-dark;
        font-family: $font-titles;
        font-size: 16px;
        text-decoration: none;
        word-spacing: 3px;
    }
 
    .submit {
        @include button;
        height: 30px;
        width: 150px;
    }

    @include media(tablet){

        .title {
            @include options-title;
            color:$color-dark;
            font-size: 20px;
        }

        .submit {
            @include button;
            height: 40px;
            width: 200px;
        }
    }
}