@import 'globals';
@import 'breakpoints';

.topBar{
    background-color: $color-secondary;
    display: grid;
    justify-content: center;
    width: 100%;
    padding: 10px 0 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;

    a {
        @include options-title;
        text-decoration: none;
        word-spacing: 3px;
        text-align: center;
        padding: 2px;
    }
    @include media(tablet){
        display: inline-flex;
        width: 100%;
        justify-content: space-around;
        padding: 10px 0 10px 0;
        a {
            @include options-title;
            color: white;
            text-decoration: none;
            word-spacing: 3px;
            &:hover {
                text-decoration: solid underline $color-highlight 3px;
                color: white;
            }
        }
    }
}