@import 'globals';
@import 'breakpoints';

.topBar{
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding: 10px 0 10px 0;
    width: 100%;

    a {
        @include options-title;

        padding: 2px;
        text-align: center;
        word-spacing: 3px;
    }
}
@include media(tablet){
    .topBar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
        position: sticky;
        top: 0;
        z-index: 10;

        a {
            font-size: 20px;
        }
    }
}