@import 'globals';
@import 'breakpoints';



.container {

    .containerImg {
        background-image: 
        linear-gradient(
            rgba(65, 51, 139, 0.4),
            rgba(0, 0, 0, 0.5)
        ),
        url('https://blue.kumparan.com/image/upload/fl_progressive,fl_lossy,c_fill,q_auto:best,w_640/v1626321267/oysmtusfkiheuirl0grj.jpg');
        background-attachment: fixed;
        background-size: cover;
        height: 630px;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
        svg{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        svg path {
            fill: white;
        }
    }

    &_cards {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 30px 30px;
        justify-content: center;
    }

    img{
        height: 50%;
        object-fit: fill;
        display: block;
    }

    h1 {
        @include primary-title;
        font-size: 40px;
        margin-bottom: 100px;
    }

    a {
        color: $color-secondary;
        font-family: $font-titles;
        height: 100%;
    }

    p{
        font-family: $font-titles;
    }
}

.tag {
    color: $color-primary;
    border-radius: 0px 0px 10px 0px;
    background-color: $color-highlight;
    width: fit-content;
    padding: 2px 10px 3px 10px;
}

.card{
    width: 300px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.card_body{
    margin: 5px;
}