@import 'globals';
@import 'breakpoints';

.generalContainer{
    position:relative;

    .containerImg {
        display: none;
    }
    .containerWho {
        background-color: $color-primary;

        h1 {
            @include primary-title;
            padding-top: 40px;
        }

        .container_text {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 40px 0px 40px;

            h2 {
                @include article-text;
                color: $color-highlight;
                text-align: center;
                font-weight:800;
                padding: 20px 10px 0 10px;
                word-spacing: 4px;
            }
            p {
                @include article-text;
                text-align: justify;
            }
        }
    }
}
@include media(desktop-s) {

    .generalContainer{
        position: relative;

        .containerImg {
            display: block;
            background: url('https://images.pexels.com/photos/1181317/pexels-photo-1181317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
            background-attachment: fixed;
            background-size: cover;
            height: 630px;
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;
            svg{
                position: absolute;
                bottom: 0;
                width: 100%;
            }
            svg path {
                fill: #E9E0FF;
            }

            h1 {
                @include primary-title;
                font-size: 40px;
                bottom: 20px;
                margin-left: 300px;
                position: absolute;
            }
        }
        .containerWho {
            display: flex;
            flex-direction: column;
            position: relative;

            h1{
                display: none;
            }

            .container_text {
                display: grid;
                grid-template-columns: auto auto 1fr;
                gap: 5%;
                padding: 40px 60px 0px 60px;

                h2 {
                    text-align: end;
                    font-size: 24px;
                    margin-bottom: 80px;
                }
                p {
                    @include article-text;
                    font-size: 24px;
                }
            }
        }
    }
}
